
body { 
    font-family: 'Spline Sans', sans-serif;
    background: violet;
}
* {
    box-sizing: border-box;
  }
  .name {
      text-align: center;
  }
  .nav {
      text-align: center;
  }
  main { 
    width: 400px;
    margin: 10px auto;
    background: rgb(22, 136, 83);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    min-height: 600px;
    padding: 20px;
   }
  
 
  footer {
      position: fixed;
      left: 0; bottom: 0;
      text-align: center;
    width: 100%;
     background:rgba(34, 117, 128, 0.479);
      color:rgb(2, 17, 8);
      border:tan 1px solid;
      

  }